<?xml version="1.0" encoding="UTF-8"?>
<includes>
	<include file="Includes/Settings/Variables.xml" />
	<include file="Includes/Settings/Expressions.xml" />

	<!-- Settings background -->
	<include name="SettingsBackground">
		<definition>
			<!-- Background color -->
			<control type="image">
				<width>100%</width>
				<height>100%</height>
				<texture colordiffuse="BACKGROUND_SETTINGS_TINT">1080p/diffuse/noise.png</texture>
			</control>
		</definition>
	</include>
	<include name="SettingsBackgroundSplit">
		<definition>
			<!-- Background split overlay -->
			<control type="group">
				<!-- Animations and potential other tags -->
				<nested />

				<!-- Left -->
				<control type="image">
					<width>WIDTH_BACKGROUND_SPLIT</width>
					<height>SCREEN_HEIGHT</height>
					<texture colordiffuse="BACKGROUND_OPAQUE20">diffuse.png</texture>
				</control>
				<!-- Right -->
				<control type="image">
					<left>WIDTH_BACKGROUND_SPLIT</left>
					<width>WIDTH_BACKGROUND_SPLIT</width>
					<height>SCREEN_HEIGHT</height>
					<texture colordiffuse="BACKGROUND_OPAQUE10">diffuse.png</texture>
				</control>
			</control>
		</definition>
	</include>


	<!-- Systeminfo button -->
	<include name="SysteminfoMenuItem">
		<param name="id"></param>
		<param name="icon"></param>
		<param name="onup"></param>
		<param name="ondown"></param>
		<param name="onright"></param>

		<definition>
			<!-- Icon button -->
			<control type="group">
				<width>WIDTH_HOME_MENU</width>
				<height>SIZE_HOME_MENU_ICON_SELECTION</height>

				<!-- Selected case (circle background, dark icon) -->
				<control type="group">
					<visible>Control.HasFocus($PARAM[id])</visible>
					<width>WIDTH_HOME_MENU</width>
					<height>SIZE_HOME_MENU_ICON_SELECTION</height>

					<!-- Circle background -->
					<control type="image">
						<width>SIZE_HOME_MENU_ICON_SELECTION</width>
						<height>SIZE_HOME_MENU_ICON_SELECTION</height>
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture colordiffuse="FOREGROUND_ACCENT">1080p/diffuse/circle.png</texture>
						<bordertexture border="SIZE_ITEM_SHADOW_SMALLCIRCLE_DOUBLE" colordiffuse="BACKGROUND_OPAQUE75">1080p/diffuse/shadow-circle-small.png</bordertexture>
						<bordersize>SIZE_ITEM_SHADOW_SMALLCIRCLE</bordersize>
					</control>
					<!-- Icon -->
					<control type="image">
						<width>SIZE_HOME_MENU_ICON</width>
						<height>SIZE_HOME_MENU_ICON</height>
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture colordiffuse="BACKGROUND_OPAQUE75">$PARAM[icon]</texture>
					</control>
				</control>

				<!-- Unselected case (icon only, light color) -->
				<control type="image">
					<visible>!Control.HasFocus($PARAM[id])</visible>
					<width>SIZE_HOME_MENU_ICON</width>
					<height>SIZE_HOME_MENU_ICON</height>
					<centertop>50%</centertop>
					<centerleft>50%</centerleft>
					<texture colordiffuse="FOREGROUND_OPAQUE50">$PARAM[icon]</texture>
				</control>

				<!-- Actual button -->
				<control type="button" id="$PARAM[id]">
					<visible allowhiddenfocus="true">false</visible>
					<texturefocus />
					<onfocus>SendClick($PARAM[id])</onfocus>
					<onup>SetFocus($PARAM[onup])</onup>
					<ondown>SetFocus($PARAM[ondown])</ondown>
					<onright>SetFocus($PARAM[onright])</onright>
				</control>
			</control>
		</definition>
	</include>
	<!-- Systeminfo label -->
	<include name="SysteminfoLabel">
		<param name="visible">true</param>
		<param name="id"></param>
		<param name="font">BODY</param>
		<param name="color">FOREGROUND</param>
		<param name="label"></param>
		
		<definition>
			<control type="label" id="$PARAM[id]">
				<visible>$PARAM[visible]</visible>
				<width>auto</width>
				<height>FONT_SIZE_SUBTITLE</height>
				<aligny>center</aligny>
				<font>$PARAM[font]</font>
				<textcolor>$PARAM[color]</textcolor>
				<label>$PARAM[label]</label>
			</control>
		</definition>
	</include>
	

	<!-- Content for fake option button with icon (multiline) -->
	<include name="SettingsOptionContentWithIcon">
		<param name="icon_circle_color">BACKGROUND_OPAQUE20</param>
		<param name="icon_color">BACKGROUND_INVERSE_OPAQUE50</param>
		<param name="icon_type_circle">false</param>
		<param name="icon">$INFO[ListItem.Art(thumb)]</param>
		<param name="text_color">FOREGROUND_OPAQUE75</param>
		<param name="text_color_selected">FOREGROUND_ACCENT_OPAQUE75</param>
		<param name="text">$INFO[ListItem.Property(title)]</param>
		<param name="description_color">FOREGROUND_OPAQUE50</param>
		<param name="description_color_selected">FOREGROUND_ACCENT_OPAQUE50</param>
		<param name="description">$INFO[ListItem.Property(description)]</param>
		<param name="single_line">false</param>
		<param name="scroll">false</param>

		<definition>
			<control type="group">
				<top>PADDING_BUTTON_VERTICAL</top>
				<bottom>PADDING_BUTTON_VERTICAL</bottom>
				<left>PADDING_BUTTON_HORIZONTAL</left>
				<right>PADDING_BUTTON_HORIZONTAL</right>

				<!-- Icon -->
				<control type="group">
					<width>HEIGHT_SETTINGS_OPTION_CONTENT</width>
					<height>HEIGHT_SETTINGS_OPTION_CONTENT</height>

					<!-- Background -->
					<control type="image">
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture colordiffuse="$PARAM[icon_circle_color]">1080p/diffuse/circle.png</texture>
					</control>
					<!-- Icon (not circle) -->
					<control type="image">
						<visible>!$PARAM[icon_type_circle]</visible>
						<width>SIZE_SETTINGS_ICON</width>
						<height>SIZE_SETTINGS_ICON</height>
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture colordiffuse="$PARAM[icon_color]">$PARAM[icon]</texture>
						<aspectratio scalediffuse="false">scale</aspectratio>
					</control>
					<!-- Icon (circle) -->
					<control type="image">
						<visible>$PARAM[icon_type_circle]</visible>
						<width>HEIGHT_SETTINGS_OPTION_CONTENT</width>
						<height>HEIGHT_SETTINGS_OPTION_CONTENT</height>
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture diffuse="1080p/diffuse/circle.png">$PARAM[icon]</texture>
						<aspectratio scalediffuse="false">scale</aspectratio>
					</control>
				</control>

				<!-- Labels -->
				<control type="group">
					<height>HEIGHT_SETTINGS_OPTION_CONTENT</height>
					<left>OFFSET_SETTINGS_OPTIONS_CONTENT</left>

					<!-- Single text line -->
					<control type="label">
						<visible>$PARAM[single_line]</visible>
						<centertop>OFFSET_SETTINGS_OPTION_TITLE_SINGLELINE</centertop>
						<font>BODY_STRONG</font>
						<textcolor>$PARAM[text_color]</textcolor>
						<selectedcolor>$PARAM[text_color_selected]</selectedcolor>
						<label>$PARAM[text]</label>
						<scroll>$PARAM[scroll]</scroll>
					</control>
					<!-- First text line -->
					<control type="label">
						<visible>!$PARAM[single_line]</visible>
						<top>OFFSET_SETTINGS_OPTION_TITLE</top>
						<font>BODY_STRONG</font>
						<textcolor>$PARAM[text_color]</textcolor>
						<selectedcolor>$PARAM[text_color_selected]</selectedcolor>
						<label>$PARAM[text]</label>
						<scroll>$PARAM[scroll]</scroll>
					</control>
					<!-- Second text line -->
					<control type="label">
						<top>FONT_SIZE_BODY</top>
						<font>CAPTION</font>
						<textcolor>$PARAM[description_color]</textcolor>
						<selectedcolor>$PARAM[description_color_selected]</selectedcolor>
						<label>$PARAM[description]</label>
						<scroll>$PARAM[scroll]</scroll>
					</control>
				</control>
			</control>
		</definition>
	</include>

	<!-- Content for fake option button with selection mark (single line) -->
	<include name="SettingsOptionContentWithSelection">
		<param name="selectionmark_color">FOREGROUND_ACCENT_OPAQUE75</param>
		<param name="is_selected">false</param>
		<param name="text_color">FOREGROUND_OPAQUE75</param>
		<param name="text_color_selected">FOREGROUND_ACCENT_OPAQUE75</param>
		<param name="text">$INFO[ListItem.Label]</param>
		<param name="text_scroll">false</param>

		<definition>
			<control type="group">
				<top>PADDING_BUTTON_VERTICAL</top>
				<bottom>PADDING_BUTTON_VERTICAL</bottom>
				<left>PADDING_BUTTON_HORIZONTAL</left>
				<right>PADDING_BUTTON_HORIZONTAL</right>

				<!-- Selection mark -->
				<control type="group">
					<width>HEIGHT_SETTINGS_OPTION_CONTENT</width>
					<height>HEIGHT_SETTINGS_OPTION_CONTENT</height>

					<!-- Selection mark (selected) -->
					<control type="image">
						<visible>$PARAM[is_selected]</visible>
						<width>SIZE_SETTINGS_DIALOG_SELECTIONMARK</width>
						<height>SIZE_SETTINGS_DIALOG_SELECTIONMARK</height>
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture colordiffuse="$PARAM[selectionmark_color]">1080p/controls/check-on.png</texture>
					</control>
					<!-- Selection mark (not selected) -->
					<control type="image">
						<visible>!$PARAM[is_selected]</visible>
						<width>SIZE_SETTINGS_DIALOG_SELECTIONMARK</width>
						<height>SIZE_SETTINGS_DIALOG_SELECTIONMARK</height>
						<centertop>50%</centertop>
						<centerleft>50%</centerleft>
						<texture colordiffuse="$PARAM[selectionmark_color]">1080p/controls/check-off.png</texture>
					</control>
				</control>

				<!-- Label -->
				<control type="group">
					<height>HEIGHT_SETTINGS_OPTION_CONTENT</height>
					<left>OFFSET_SETTINGS_DIALOG_OPTIONS_SELECTIONMARK_CONTENT</left>

					<!-- Text -->
					<control type="label">
						<centertop>OFFSET_SETTINGS_OPTION_TITLE_SINGLELINE</centertop>
						<font>BODY_STRONG</font>
						<textcolor>$PARAM[text_color]</textcolor>
						<selectedcolor>$PARAM[text_color_selected]</selectedcolor>
						<label>$PARAM[text]</label>
						<scroll>$PARAM[text_scroll]</scroll>
					</control>
				</control>
			</control>
		</definition>
	</include>

	<!-- Chevrons up/down for lists without scrollbar -->
	<include name="SettingsUpDownChevrons">
		<param name="visible_up">false</param>
		<param name="visible_down">false</param>

		<definition>
			<!-- Chevron up (more items) -->
			<control type="image">
				<visible>$PARAM[visible_up]</visible>

				<width>60</width>
				<height>60</height>
				<top>PADDING_LIST_NARROW_VERTICAL_CHEVRON</top>
				<centerleft>50%</centerleft>
				<texture colordiffuse="FOREGROUND_OPAQUE10">1080p/icons/chevron-up.png</texture>
				<aspectratio>keep</aspectratio>
			</control>

			<!-- Chevron down (more items) -->
			<control type="image">
				<visible>$PARAM[visible_down]</visible>

				<width>60</width>
				<height>60</height>
				<bottom>PADDING_LIST_NARROW_VERTICAL_CHEVRON</bottom>
				<centerleft>50%</centerleft>
				<texture colordiffuse="FOREGROUND_OPAQUE10" flipy="true">1080p/icons/chevron-up.png</texture>
				<aspectratio>keep</aspectratio>
			</control>
		</definition>
	</include>


	<!-- Main settings categories -->
	<include name="MainSettings">
		<param name="id">1000</param>
		<param name="subpage_id">3</param>

		<definition>
			<!-- Nested groups for proper sizes/padding -->
			<control type="group">
				<width>WIDTH_BACKGROUND_SPLIT</width>
				<height>SCREEN_HEIGHT</height>

				<control type="group">
					<top>PADDING_BASE_80P</top>
					<bottom>PADDING_BASE_80P</bottom>
					<left>PADDING_SETTINGS_WIDE_SIDE</left>
					<right>PADDING_SETTINGS_WIDE_SIDE</right>

					<!-- Title -->
					<control type="label">
						<width>auto</width>
						<height>FONT_SIZE_TITLE2</height>
						<right>PADDING_SETTINGS_TITLE</right>
						<left>PADDING_SETTINGS_TITLE</left>
						<font>TITLE2</font>
						<label>Settings</label>
					</control>

					<!-- List of sections -->
					<control type="list" id="1000">
						<top>OFFSET_SETTINGS_OPTIONS_START</top>
						<left>0</left>
						<right>0</right>
						<autoscroll>false</autoscroll>
						
						<onright>SetFocus(3)</onright>
						<onclick>SetFocus(3)</onclick>
						<onup>SetFocus(20)</onup>
						<ondown>SetFocus(20)</ondown>

						<focusedlayout height="HEIGHT_SETTINGS_OPTION_CONTAINER">
							<control type="button">
								<visible allowhiddenfocus="true">false</visible>
								<onfocus>SetProperty(Settings.ActivePage,$INFO[ListItem.Property(page)],settings)</onfocus>
								<onfocus>ReplaceWindow($INFO[ListItem.Property(page)])</onfocus>
							</control>

							<!-- Fake button for selection (only when focus is in the actual list, not when on expert button) -->
							<control type="group">
								<visible>Control.HasFocus(1000)</visible>
								<!-- Fake button selection -->
								<control type="image">
									<height>HEIGHT_BUTTON_DEFAULT</height>
									<texture colordiffuse="BACKGROUND_INVERSE_OPAQUE90" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texture>
								</control>
								<!-- Content -->
								<include content="SettingsOptionContentWithIcon">
									<param name="icon_circle_color">BACKGROUND_INVERSE_OPAQUE90</param>
									<param name="icon_color">FOREGROUND_INVERSE</param>
									<param name="text_color">FOREGROUND_INVERSE</param>
									<param name="description_color">FOREGROUND_INVERSE_OPAQUE75</param>
								</include>
							</control>
							<control type="group">
								<visible>!Control.HasFocus(1000)</visible>
								<include content="SettingsOptionContentWithIcon" />
							</control>
						</focusedlayout>

						<itemlayout height="HEIGHT_SETTINGS_OPTION_CONTAINER">
							<include content="SettingsOptionContentWithIcon" />
						</itemlayout>

						<content>
							<!-- Interface -->
							<item id="1">
								<thumb>$VAR[SettingsInterfaceIcon]</thumb>
								<property name="title">$LOCALIZE[14206]</property>
								<property name="description">Skin, regional, screensaver</property>
								<property name="page">appearancesettings</property>
							</item>
							<!-- System -->
							<item id="2">
								<thumb>$VAR[SettingsSystemIcon]</thumb>
								<property name="title">$LOCALIZE[13000]</property>
								<property name="description">Video, audio, input, logging</property>
								<property name="page">systemsettings</property>
							</item>
							<!-- Services -->
							<item id="3">
								<thumb>$VAR[SettingsServicesIcon]</thumb>
								<property name="title">$LOCALIZE[14036]</property>
								<property name="description">Remote, protocols, caching</property>
								<property name="page">servicesettings</property>
							</item>
							<!-- Player -->
							<item id="4">
								<thumb>$VAR[SettingsPlayerIcon]</thumb>
								<property name="title">$LOCALIZE[14200]</property>
								<property name="description">Playback, OSD</property>
								<property name="page">playersettings</property>
							</item>
							<!-- Library -->
							<item id="5">
								<thumb>$VAR[SettingsLibraryIcon]</thumb>
								<property name="title">$LOCALIZE[14211]</property>
								<property name="description">Library management and options</property>
								<property name="page">mediasettings</property>
							</item>
						</content>
					</control>

					<!-- Settings level -->
					<control type="group">
						<top>OFFSET_SETTINGS_EXPERT_START</top>

						<!-- Actual button -->
						<control type="radiobutton" id="20">
							<width>WIDTH_SETTINGS_OPTION_WIDE</width>
							<textureradioonfocus />
							<textureradioonnofocus />
							<textureradioondisabled />
							<textureradioofffocus />
							<textureradiooffnofocus />
							<textureradiooffdisabled />
							<aligny>top</aligny>
							<textoffsety>30</textoffsety>
							<textoffsetx>OFFSET_SETTINGS_EXPERT_CONTENT</textoffsetx>
							<radioposx>PADDING_BUTTON_HORIZONTAL</radioposx>
							<onup>SetFocus(1000,4)</onup>
							<ondown>SetFocus(1000,0)</ondown>
							<onclick>settingslevelchange</onclick>
						</control>

						<control type="group">
							<visible>Control.HasFocus(20)</visible>
							<include content="SettingsOptionContentWithIcon">
								<param name="icon_circle_color">BACKGROUND_INVERSE_OPAQUE90</param>
								<param name="icon_color">FOREGROUND_INVERSE</param>
								<param name="icon">$VAR[SettingsComplexityLevelIcon]</param>
								<param name="text_color">FOREGROUND_INVERSE</param>
								<param name="text"> </param>
								<param name="description_color">FOREGROUND_INVERSE_OPAQUE75</param>
								<param name="description">Settings complexity level</param>
							</include>
						</control>
						<control type="group">
							<visible>!Control.HasFocus(20)</visible>
							<include content="SettingsOptionContentWithIcon">
								<param name="icon">$VAR[SettingsComplexityLevelIcon]</param>
								<param name="text"> </param>
								<param name="description">Settings complexity level</param>
							</include>
						</control>
					</control>
				</control>
			</control>
		</definition>
	</include>

	<!-- Actual settings (dynamic content) -->
	<include name="DynamicSettings">
		<!-- List of pages (right side when main settings are visible, left otherwise) -->
		<control type="group">
			<width>WIDTH_BACKGROUND_SPLIT_REMAINING</width>
			<height>SCREEN_HEIGHT</height>
			<left>WIDTH_BACKGROUND_SPLIT</left>

			<!-- List with title -->
			<control type="group">
				<top>PADDING_BASE_80P</top>
				<bottom>PADDING_BASE_80P</bottom>
				<right>PADDING_SETTINGS_NARROW_SIDE</right>
				<left>PADDING_SETTINGS_NARROW_SIDE</left>

				<!-- Page name -->
				<control type="label" id="2">
					<width>auto</width>
					<height>FONT_SIZE_TITLE2</height>
					<right>PADDING_SETTINGS_TITLE</right>
					<left>PADDING_SETTINGS_TITLE</left>
					<font>TITLE2</font>
					<label></label>
				</control>

				<!-- Pages -->
				<control type="group">
					<top>OFFSET_SETTINGS_OPTIONS_START</top>

					<!-- List of options -->
					<control type="grouplist" id="3">
						<itemgap>GAP_SETTINGS_LIST_OPTION</itemgap>
						<usecontrolcoords>true</usecontrolcoords>
						<onleft>SetFocus(1000)</onleft>
						<onright>SetFocus(5)</onright>
					</control>

					<!-- Chevrons up/down if more content is available -->
					<include content="SettingsUpDownChevrons">
						<param name="visible_up">Integer.IsGreater(Container(3).NumItems,6)</param>
						<param name="visible_down">Integer.IsGreater(Container(3).NumItems,6)</param>
					</include>
				</control>
			</control>

			<!-- Page option template -->
			<control type="button" id="10">
				<width>WIDTH_SETTINGS_GROUPLIST_NARROW_OPTION</width>
				<height>HEIGHT_BUTTON_DEFAULT</height>
				<texturefocus colordiffuse="BACKGROUND_INVERSE_OPAQUE90" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
				<texturenofocus />
				<textoffsety>PADDING_BUTTON_VERTICAL</textoffsety>
				<textoffsetx>PADDING_BUTTON_HORIZONTAL</textoffsetx>
				<focusedcolor>FOREGROUND_INVERSE</focusedcolor>
				<textcolor>FOREGROUND_OPAQUE75</textcolor>
				<align>left</align>
				<onclick>SetFocus(5)</onclick>
			</control>

			<!-- Chevron left -->
			<control type="image">
				<visible>!$EXP[IsSettingsAnyDialogActive]</visible>
				<include content="ShowHideFadeAnimation" />
				<animation effect="fade" start="0" end="100" time="ANIMATION_SLOW" tween="circle" easing="out" condition="!Control.HasFocus(1000) + !Control.HasFocus(20)">Conditional</animation>
				<animation effect="fade" start="100" end="0" time="ANIMATION_SLOW" tween="circle" easing="out" condition="Control.HasFocus(1000) | Control.HasFocus(20)">Conditional</animation>

				<width>60</width>
				<height>60</height>
				<left>PADDING_BASE_20P</left>
				<centertop>50%</centertop>
				<texture colordiffuse="FOREGROUND_OPAQUE10" flipx="true">1080p/icons/chevron-right.png</texture>
				<aspectratio>keep</aspectratio>
			</control>
		</control>

		<!-- List of options (right side when main settings are not visible) -->
		<control type="group">
			<width>WIDTH_BACKGROUND_SPLIT</width>
			<height>SCREEN_HEIGHT</height>
			<left>SCREEN_WIDTH</left>

			<!-- List with description -->
			<control type="group">
				<top>PADDING_BASE_80P</top>
				<bottom>PADDING_BASE_80P</bottom>
				<right>PADDING_SETTINGS_WIDE_SIDE</right>
				<left>PADDING_SETTINGS_WIDE_SIDE</left>

				<!-- Setting description -->
				<control type="group">
					<top>PADDING_BASE_50P</top>
					<height>100</height>

					<!-- Icon -->
					<control type="image">
						<visible>!String.IsEmpty(Control.GetLabel(6))</visible>
						<width>SIZE_SETTINGS_ICON</width>
						<height>SIZE_SETTINGS_ICON</height>
						<top>PADDING_BASE_5P</top>
						<left>PADDING_SETTINGS_NARROW_SIDE</left>
						<texture colordiffuse="FOREGROUND_DARK">1080p/icons/info-empty.png</texture>
					</control>

					<!-- Description -->
					<control type="textbox" id="6">
						<left>PADDING_LEFT_SETTINGS_INFO</left>
						<right>PADDING_LEFT_SETTINGS_INFO</right>
						<height>100</height>
						<font>CAPTION</font>
						<textcolor>FOREGROUND_DARK</textcolor>
						<autoscroll time="3000" delay="5000" repeat="5000">true</autoscroll>
					</control>
				</control>

				<!-- Selected page options -->
				<control type="group">
					<top>OFFSET_SETTINGS_OPTIONS_START</top>

					<!-- List of options -->
					<control type="grouplist" id="5">
						<itemgap>GAP_SETTINGS_LIST_OPTION</itemgap>
						<usecontrolcoords>true</usecontrolcoords>
						<pagecontrol>60</pagecontrol>
						<onleft>SetFocus(3)</onleft>
						<onright>SetFocus(60)</onright>
					</control>

					<!-- List scrollbar -->
					<control type="scrollbar" id="60">
						<top>PADDING_BASE</top>
						<bottom>PADDING_BASE</bottom>
						<right>PADDING_BASE_50P_NEG</right>
						<onleft>SetFocus(5)</onleft>
					</control>
				</control>
			</control>

			<!-- Section name -->
			<control type="label" id="14">
				<height>HEIGHT_SETTINGS_CAPTION</height>
				<left>PADDING_BUTTON_HORIZONTAL</left>
				<top>OFFSET_SETTINGS_CAPTION</top>
				<label></label>
				<align>left</align>
				<font>SETTINGS_CAPTION</font>
				<textcolor>FOREGROUND_ACCENT_ALT</textcolor>
			</control>

			<!-- Option button -->
			<control type="button" id="7">
				<width>WIDTH_SETTINGS_OPTION_WIDE</width>
				<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
			</control>
			
			<!-- Radio button -->
			<control type="radiobutton" id="8">
				<width>WIDTH_SETTINGS_OPTION_WIDE</width>
				<radioposx>OFFSET_SETTINGS_OPTION_RADIO_WIDE</radioposx>
				<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
			</control>

			<!-- Spin button -->
			<control type="spincontrolex" id="9">
				<width>WIDTH_SETTINGS_OPTION_WIDE</width>
				<spinposx>OFFSET_SETTINGS_OPTION_SPIN_WIDE</spinposx>
				<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
			</control>

			<!-- Slider button -->
			<control type="sliderex" id="13">
				<width>WIDTH_SETTINGS_OPTION_WIDE</width>
				<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
			</control>

			<!-- Color button -->
			<control type="colorbutton" id="15">
				<width>WIDTH_SETTINGS_OPTION_WIDE</width>
				<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
			</control>
		</control>
	</include>


	<!-- Dialog panel integration -->
	<include name="SettingsDialogContainerWide">
		<control type="group">
			<animation type="WindowOpen">
				<effect type="slide" end="SCREEN_WIDTH_NEG,0" time="ANIMATION_SLOW" tween="circle" easing="out" />
			</animation>

			<width>SCREEN_WIDTH</width>
			<height>SCREEN_HEIGHT</height>
			<left>SCREEN_WIDTH</left>

			<!-- Content -->
			<nested />
		</control>
	</include>

	<!-- DialogSettings for settings (integrated) -->
	<include name="SettingsDialogSettings">
		<include content="SettingsDialogContainerWide">
			<control type="group">
				<top>PADDING_BASE_80P</top>
				<bottom>PADDING_BASE_80P</bottom>
				<width>WIDTH_BACKGROUND_SPLIT</width>
				
				<!-- Options -->
				<control type="group">
					<left>PADDING_SETTINGS_WIDE_SIDE</left>
					<right>PADDING_SETTINGS_WIDE_SIDE</right>

					<!-- Option name -->
					<control type="label" id="2">
						<width>auto</width>
						<top>PADDING_BASE_30P</top>
						<height>FONT_SIZE_TITLE3</height>
						<right>PADDING_SETTINGS_TITLE</right>
						<left>PADDING_SETTINGS_TITLE</left>
						<font>TITLE3</font>
						<label></label>
					</control>

					<!-- List of options -->
					<control type="grouplist" id="5">
						<itemgap>GAP_SETTINGS_LIST_OPTION</itemgap>
						<usecontrolcoords>true</usecontrolcoords>
						
						<top>OFFSET_SETTINGS_OPTIONS_START</top>
						<height>HEIGHT_SETTINGS_DIALOG_LIST</height>
						<width>100%</width>

						<!-- Close dialog on left, go to ok/cancel on right -->
						<onleft>Back</onleft>
						<onright>SetFocus(999)</onright>
					</control>

					<!-- Button template -->
					<control type="button" id="7">
						<width>WIDTH_SETTINGS_OPTION_WIDE</width>
						<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
					</control>
					<!-- Radiobutton template -->
					<control type="radiobutton" id="8">
						<width>WIDTH_SETTINGS_OPTION_WIDE</width>
						<radioposx>OFFSET_SETTINGS_OPTION_RADIO_WIDE</radioposx>
						<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
					</control>
					<!-- Spin control template -->
					<control type="spincontrolex" id="9">
						<width>WIDTH_SETTINGS_OPTION_WIDE</width>
						<spinposx>OFFSET_SETTINGS_OPTION_SPIN_WIDE</spinposx>
						<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
					</control>
					<!-- Image template -->
					<control type="image" id="11">
						<visible>false</visible>
						<width>0</width>
						<height>0</height>
						<texture>transparent.png</texture>
					</control>
					<!-- Edit template -->
					<control type="edit" id="12">
						<width>WIDTH_SETTINGS_OPTION_WIDE</width>
						<height>HEIGHT_BUTTON_DEFAULT</height>
						<label></label>
						<hinttext></hinttext>
					</control>
					<!-- Slider template -->
					<control type="sliderex" id="13">
						<width>WIDTH_SETTINGS_OPTION_WIDE</width>
						<texturefocus colordiffuse="$VAR[SettingsOptionButtonColor]" border="SIZE_ITEM_SHADOW_ART_DOUBLE">1080p/controls/button.png</texturefocus>
					</control>
					<!-- Label template -->
					<control type="label" id="14">
						<height>HEIGHT_SETTINGS_CAPTION</height>
						<left>PADDING_BUTTON_HORIZONTAL</left>
						<top>OFFSET_SETTINGS_CAPTION</top>
						<label>ciao</label>
						<align>left</align>
						<font>SETTINGS_CAPTION</font>
						<textcolor>FOREGROUND_ACCENT_ALT</textcolor>
					</control>
				</control>
			
				<!-- Action buttons -->
				<control type="group">
					<top>OFFSET_SETTINGS_OPTIONS_START</top>
					<left>WIDTH_BACKGROUND_SPLIT</left>
					<width>WIDTH_BACKGROUND_SPLIT_REMAINING</width>

					<control type="grouplist" id="999">
						<!-- Hide when a secondary dialog appears -->
						<visible>!$EXP[IsSettingsAnySimpleDialogActive]</visible>
						<animation type="Visible">
							<effect type="fade" end="100" time="ANIMATION_FAST" tween="circle" easing="out" />
						</animation>
						<animation type="Hidden">
							<effect type="fade" end="0" time="ANIMATION_FAST" tween="circle" easing="out" />
						</animation>

						<left>PADDING_SETTINGS_NARROW_SIDE</left>
						<right>PADDING_SETTINGS_NARROW_SIDE</right>

						<!-- Go to options on left -->
						<onleft>SetFocus(5)</onleft>

						<!-- Ok -->
						<control type="button" id="28">
							<width>100%</width>
						</control>
						<!-- Cancel -->
						<control type="button" id="29">
							<width>100%</width>
						</control>
						<!-- Clear/settings -->
						<control type="button" id="30">
							<width>100%</width>
						</control>
					</control>
				</control>
			</control>
		</include>
	</include>
</includes>